*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}